* {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
}

html {
  background-color: #EAEAEA;
  font-family: 'Rubik', sans-serif;
  font-size: calc(1rem + 1vw);
}

body {
   height: 100vh;
   padding-bottom: 4rem;
 }

a {
  display: inline-block;
}

script, style, head {
   display: none;
 }

header {
  padding: 0.5rem;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Lato', sans-serif;
  color: #1B1B1E;
}

 about- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1B1B1E;
    padding: 1rem;
    margin: 0 1rem 1rem;
}

  about- p {
    font-family: 'Lato', sans-serif;
    color: #1B1B1E;
    margin: 10px auto;
    text-align: left;
  }

  nav- {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem 1rem;
  }
