* {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
}

html {
  background-color: #EAEAEA;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1rem + 1vw);
  overflow: hidden;
}

script, style, head {
   display: none;
 }

 body {
    height: 100vh;
    padding-bottom: 4rem;
  }

  img {
    height: auto;
  }

  nav- {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem 1rem;
  }

 header {
   padding: 0.5rem;
   height: 25vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 p {
   font-family: 'Lato', sans-serif;
   color: #1B1B1E;
 }

album- {
   font-family: 'Lato', sans-serif;
   display: block;
   flex-direction: row;
   align-items: center;
   color: #1B1B1E;
   margin: 1rem;
 }

 album- a {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 album- p {
   color: #1B1B1E;
   margin: 10px auto;
 }

 album-title- {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
 }

 album-subtitle- {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: lighter;
   font-style: italic;
   font-size: 14px;
   padding: 0.5rem;
 }



 album- img {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
 }
